In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import ensemble

In [2]:
train=pd.read_csv(r"D:\CS\MachineLearning\24 NLP-2\0000000000002747_training_twitter_x_y_train (1).csv",delimiter=',')
test=pd.read_csv(r"D:\CS\MachineLearning\24 NLP-2\0000000000002747_test_twitter_x_test.csv",delimiter=',')

In [3]:
train=pd.DataFrame(train)

In [4]:
train

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...
10975,569934458364813313,neutral,American,NaN,Cottopanama85,NaN,0,@AmericanAir followback,NaN,2015-02-23 10:58:58 -0800,"ohio,panama",NaN
10976,568564006329434113,positive,United,NaN,PaulBEsteves,NaN,0,@united thanks for the help. Wish the phone re...,NaN,2015-02-19 16:13:17 -0800,Brooklyn,Eastern Time (US & Canada)
10977,569643648910028801,negative,US Airways,NaN,runfixsteve,NaN,0,@usairways the. Worst. Ever. #dca #customerser...,NaN,2015-02-22 15:43:24 -0800,"St. Augustine, Florida",NaN
10978,568864981917110272,negative,US Airways,NaN,CLChicosky,NaN,0,@nrhodes85: look! Another apology. DO NOT FLY ...,NaN,2015-02-20 12:09:15 -0800,NaN,NaN
10979,568929299350179840,negative,United,NaN,JW_Blocker,NaN,1,@united you are by far the worst airline. 4 pl...,NaN,2015-02-20 16:24:49 -0800,NaN,NaN

In [5]:
train['airline'].value_counts()

United            2928
US Airways        2152
American          2078
Southwest         1817
Delta             1639
Virgin America     366
Name: airline, dtype: int64

In [6]:
def airlineChange(df):
    for i in range(len(df)):
        if(df[i]=='United'):
            df[i]=1
        if(df[i]=='US Airways'):
            df[i]=2
        if(df[i]=='American'):
            df[i]=3
        if(df[i]=='Southwest'):
            df[i]=4
        if(df[i]=='Delta'):
            df[i]=5
        if(df[i]=='Virgin America'):
            df[i]=6

In [7]:
airlineChange(train['airline'])

C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=4
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=1
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=5
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=2
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=3
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=6

In [8]:
train.drop('tweet_id',axis=1,inplace=True)
train.drop('tweet_coord',axis=1,inplace=True)
train.drop('tweet_created',axis=1,inplace=True)
train.drop('tweet_location',axis=1,inplace=True)
train.drop('user_timezone',axis=1,inplace=True)
train.drop('airline_sentiment_gold',inplace=True,axis=1)
train.drop('negativereason_gold',inplace=True,axis=1)
train.drop('name',inplace=True,axis=1)

In [9]:
train

,airline_sentiment,airline,retweet_count,text
0,negative,4,0,"@SouthwestAir I am scheduled for the morning, ..."
1,positive,4,0,@SouthwestAir seeing your workers time in and ...
2,positive,1,0,@united Flew ORD to Miami and back and had gr...
3,negative,4,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥
4,negative,1,0,@united so our flight into ORD was delayed bec...
...,...,...,...,...
10975,neutral,3,0,@AmericanAir followback
10976,positive,1,0,@united thanks for the help. Wish the phone re...
10977,negative,2,0,@usairways the. Worst. Ever. #dca #customerser...
10978,negative,2,0,@nrhodes85: look! Another apology. DO NOT FLY ...
10979,negative,1,1,@united you are by far the worst airline. 4 pl...

In [40]:
train.drop('name',axis=1,inplace=True)
train

,airline_sentiment,airline,retweet_count,text
0,negative,4,0,"@SouthwestAir I am scheduled for the morning, ..."
1,positive,4,0,@SouthwestAir seeing your workers time in and ...
2,positive,1,0,@united Flew ORD to Miami and back and had gr...
3,negative,4,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥
4,negative,1,0,@united so our flight into ORD was delayed bec...
...,...,...,...,...
10975,neutral,3,0,@AmericanAir followback
10976,positive,1,0,@united thanks for the help. Wish the phone re...
10977,negative,2,0,@usairways the. Worst. Ever. #dca #customerser...
10978,negative,2,0,@nrhodes85: look! Another apology. DO NOT FLY ...
10979,negative,1,1,@united you are by far the worst airline. 4 pl...

In [10]:
y_train=train['airline_sentiment']
train.drop('airline_sentiment',axis=1,inplace=True)

In [11]:

documents=train['text']

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(max_features=5000,max_df=0.8,min_df=0.001)
x_train=tfidf.fit_transform(documents)
x_train

<10980x1472 sparse matrix of type '<class 'numpy.float64'>'
	with 153266 stored elements in Compressed Sparse Row format>

In [13]:
x_train=np.array(x_train.todense())

In [14]:
x_train=pd.DataFrame(x_train)
x_train

,0,1,2,3,4,5,6,7,8,9,...,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.232718,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.218244,0.149241,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
10976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
10977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
10978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0
10979,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.126161,0.000000,0.0,0.0

In [15]:
x_train[1472]=train['airline']
x_train[1473]=train['retweet_count']

In [16]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.232718,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,4,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.218244,0.149241,0.0,0.0,4,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,4,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,3,0
10976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1,0
10977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,2,0
10978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,2,0
10979,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.126161,0.000000,0.0,0.0,1,1

In [17]:
test=pd.read_csv(r"D:\CS\MachineLearning\24 NLP-2\0000000000002747_test_twitter_x_test.csv",delimiter=',')

In [18]:
test

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn‚Äôt land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,NaN,DanaChristos,NaN,1,@SouthwestAir can't believe how many paying cu...,NaN,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)
3,569757651539660801,US Airways,NaN,rossj987,NaN,0,@USAirways I can legitimately say that I would...,NaN,2015-02-22 23:16:24 -0800,"Washington, D.C.",Eastern Time (US & Canada)
4,569900705852608513,American,NaN,tranpham18,NaN,0,@AmericanAir still no response from AA. great ...,NaN,2015-02-23 08:44:51 -0800,New York City,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...
3655,570304244001193984,US Airways,NaN,Anthony_Scerri,NaN,0,@USAirways Been stuck for 40+ minutes due to l...,NaN,2015-02-24 11:28:22 -0800,"Astoria, NY",Quito
3656,567847737061941249,US Airways,NaN,mttdprkr,NaN,0,@USAirways 4 hours... 4 hours... FOUR HOURS. ...,NaN,2015-02-17 16:47:05 -0800,"Vancouver, WA",Pacific Time (US & Canada)
3657,567823564167192576,Virgin America,NaN,miaerolinea,NaN,1,Nice RT @VirginAmerica: The man of steel might...,NaN,2015-02-17 15:11:02 -0800,Worldwide,Caracas
3658,570273819287531520,American,NaN,GoldensPleasure,NaN,0,@AmericanAir Aww Thanks AA..DFW was on GMA up ...,NaN,2015-02-24 09:27:28 -0800,East Coast CT.,Central Time (US & Canada)
3659,569341769114128386,United,NaN,suntoshi,NaN,0,@united the lounge tells us they have no pillo...,NaN,2015-02-21 19:43:50 -0800,"Bedford, Nh",Eastern Time (US & Canada)

In [19]:
test.drop('tweet_id',axis=1,inplace=True)
test.drop('tweet_coord',axis=1,inplace=True)
test.drop('tweet_created',axis=1,inplace=True)
test.drop('tweet_location',axis=1,inplace=True)
test.drop('user_timezone',axis=1,inplace=True)
test.drop('airline_sentiment_gold',inplace=True,axis=1)
test.drop('negativereason_gold',inplace=True,axis=1)
test.drop('name',inplace=True,axis=1)

In [21]:
documents_test=test['text']

In [22]:
x_test=documents_test

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(max_features=1472,max_df=0.8,min_df=0.001)
x_test=tfidf.fit_transform(documents_test)
x_test

<3660x1472 sparse matrix of type '<class 'numpy.float64'>'
	with 51696 stored elements in Compressed Sparse Row format>

In [24]:
x_test=x_test.todense()

In [25]:
x_test=pd.DataFrame(x_test)
x_test

,0,1,2,3,4,5,6,7,8,9,...,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.105377,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.136591,0.0,0.0,0.0
3657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.106354,0.0,0.0,0.0
3659,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [26]:
airlineChange(test['airline'])

C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=3
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=4
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=2
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=1
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=5
C:\Users\kinsh\AppData\Local\Temp/ipykernel_22220/1733508707.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i]=6

In [27]:
x_test[1472]=test['airline']
x_test[1473]=test['retweet_count']

In [28]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,3,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,3,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.105377,0.0,0.0,0.0,4,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,2,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,2,0
3656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.136591,0.0,0.0,0.0,2,0
3657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,6,1
3658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.106354,0.0,0.0,0.0,3,0
3659,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1,0

In [29]:
from sklearn import ensemble
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [30]:
clf = SVC()
clf.fit(x_train, y_train)

SVC()

In [31]:
y_pred=clf.predict(x_test)

In [32]:
y_pred

array(['negative', 'negative', 'negative', ..., 'neutral', 'negative',
       'negative'], dtype=object)

In [33]:
np.savetxt(fname=r'D:\CS\MachineLearning\24 NLP-2\twitterGIT.csv', X=y_pred, fmt='%s')